@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

.gradient-bg {
    background: linear-gradient(135deg, #1a202c 0%, #2d3748 100%);
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#typed-output {
    display: inline-block;
    height: 1em;
    white-space: nowrap;
}

.proficiencies {
    display: flex;
    gap: 1.5rem;
    padding: 0.75rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(17, 24, 39, 0.8);
    border-radius: 0.5rem;
}

.proficiency {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    color: #ffffff;
}

.color-indicator {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 9999px;
}
