@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

.gradient-bg {
    background: linear-gradient(135deg, #1a202c 0%, #2d3748 100%);
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#typed-output {
    display: inline-block;
    height: 1em;
    white-space: nowrap;
}

.tooltip-trigger {
    position: relative;
    display: inline-block;
    cursor: help;
}
.tooltip-content {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}
.tooltip-trigger:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
}
